{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кабінет користувача</title>
    <link href="{% static 'css/cabinet.css' %}" rel="stylesheet">
</head>
<body>
<div class="navbar">
        <a href="/">Online Shop</a>
        <div class="menu">
            <a href="{% url 'cabinet' %}">Кабінет</a>
        </div>
    </div>

<div class="container">
    <div class="sidebar">
        <h3>Меню</h3>
        <ul>
            <li><a href="#" id="orders">Замовлення</a></li>
            <li><a href="#" id="profile-settings">Налаштування профілю</a></li>
            {% if user.is_superuser %}
                <li><a href="/admin/">Панель адміністратора</a></li>
            {% endif %}
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" style="color: #007BFF; text-decoration: none; background: none; border: none; cursor: pointer;">
                        Вийти
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div class="main-content" id="profile-panel">
        <h2>Редагувати профіль</h2>
        <form method="post" action="{% url 'cabinet' %}">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="Імʼя" value="{{ request.user.first_name }}" required>
            <input type="text" name="last_name" placeholder="Прізвище" value="{{ request.user.last_name }}" required>
            <input type="email" name="email" placeholder="Пошта" value="{{ request.user.email }}">
            <input type="password" name="password" placeholder="Новий пароль (якщо змінюєте)">
            <button type="submit">Зберегти зміни</button>
        </form>
    </div>

  <div class="main-content" id="orders-panel" style="display: none;">
    <h2>Мої замовлення</h2>
    <div id="orders-container"></div>
    </div>
</div>


    <script src="{% static 'scripts/cabinet.js' %}"> </script>
</body>
</html>