{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.name }}</title>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
</head>
<body data-category-slug="{{ category.slug }}">
 <div class="navbar">
        <a href="/">Online Shop</a>
        <div class="menu">
        {% if user.is_authenticated %}
            <a class="cabinet" href="{% url 'cabinet' %}">Кабінет</a>
        {% else %}
            <a href="{% url 'signin' %}">Вхід</a>
        {% endif %}
        <button id="cardButton" onclick="openModal()">🛒 Кошик</button>
        </div>
 </div>
    <div class="logo">{{ category.name }}</div>
 
     <div class="filters">
    <select id="brandFilter" onchange="applySorting()">
        <option value="">Всі бренди</option>
        {% for brand in brands %}
        <option value="{{ brand }}" {% if request.GET.brand == brand %}selected{% endif %}>
            {{ brand }}
        </option>
        {% endfor %}
    </select>

    <select id="sortBy" onchange="applySorting()">
        <option value="price-asc">Ціна: за зростанням</option>
        <option value="price-desc">Ціна: за спаданням</option>
        <option value="reviews-asc">Відгуки: за зростанням</option>
        <option value="reviews-desc">Відгуки: за спаданням</option>
    </select>
     
</div>
 
    <div class="container">
        <div class="product-list" id="product-list">
            {% for product in products %}
            <div class="product-item">
                <a href="/{{ product.category.slug }}/{{ product.slug }}/">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="/static/images/placeholder.jpg" alt="No image available">
                    {% endif %}
                    <h3>{{ product.name }}</h3>
                    <p class="price">${{ product.price }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

{% include 'cart.html' %}
 <script src="{% static 'scripts/category.js' %}"></script>
<script>
</script>
</body>
</html>