{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="/">Online Shop</a>
        <div class="menu">
        {% if user.is_authenticated %}
            <a href="{% url 'cabinet' %}">Кабінет</a>
        {% else %}
            <a href="{% url 'signin' %}">Вхід</a>
        {% endif %}
        <button id="cardButton" onclick="openModal()">🛒 Кошик</button>
        </div>
    </div>
    
    <div class="container">
        <div class="sidebar">
            <ul class="category-list">
            <h2>Категорії</h2>
                {% for category in categories %}
                <li>
                    <a href="/{{ category.slug }}/">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
        <h2>Нещодавно зʼявились:</h2>
            <div class="product-list">
                {% for product in products %}
                <a href="/{{ product.category.slug }}/{{ product.slug }}/" class="product-item">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="/static/images/placeholder.jpg" alt="No image available">
                    {% endif %}
                    <h3>{{ product.name }}</h3>
                    <p class="price">${{ product.price }}</p>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    
    {% include 'cart.html' %}
</body>
</html>