{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    <script src="{% static 'scripts/product_detail.js' %}"></script>
    <script src="{% static 'scripts/review.js' %}"></script>
</head>
<body>
 <div class="navbar">
        <a href="/">Online Shop</a>
        <div class="menu">
        {% if user.is_authenticated %}
            <a class="cabinet" href="{% url 'cabinet' %}">Кабінет</a>
        {% else %}
            <a href="{% url 'signin' %}">Вхід</a>
        {% endif %}
        <button id="cardButton" onclick="openModal()">🛒 Кошик</button>
        </div>
    </div>

<div class="container">
        <div class="slider">
            <img id="main-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="thumbnails">
                <img src="{{ product.image.url }}" onclick="changeMainImage('{{ product.image.url }}')">
                {% for image in product.images.all %}
                    <img src="{{ image.image.url }}" onclick="changeMainImage('{{ image.image.url }}')">
                {% endfor %}
            </div>
        </div>

        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <div class="price">${{ product.price }}</div>
            <div class="stock {% if product.available %}available{% else %}unavailable{% endif %}">
                {% if product.available %}
                    Є в наявності
                {% else %}
                    Немає в наявності
                {% endif %}
            </div>

             <button class="add-to-cart" data-product-id="{{ product.id }}" onclick="addToCart({{ product.id }})">В кошик</button>
        
            <div class="features">
                {% if product.smartphone %}
                    <h3>Характеристики смартфона:</h3>
                    <ul>
                        <li><strong>Колір:</strong> {{ product.smartphone.color }}</li>
                        <li><strong>Процесор:</strong> {{ product.smartphone.processor }}</li>
                        <li><strong>RAM:</strong> {{ product.smartphone.ram }} ГБ</li>
                        <li><strong>ROM:</strong> {{ product.smartphone.rom }} ГБ</li>
                        <li><strong>Батарея:</strong> {{ product.smartphone.battery_capacity }} мА·год</li>
                        <li><strong>Розмір екрану:</strong> {{ product.smartphone.screen_size }} дюйми</li>
                        <li><strong>Тип дисплею:</strong> {{ product.smartphone.display_type }}</li>
                        <li><strong>Частота дисплею:</strong> {{ product.smartphone.hz_of_display }} Гц</li>
                        <li><strong>Камери:</strong> {{ product.smartphone.camera_specifications }}</li>
                        <li><strong>Операційна система:</strong> {{ product.smartphone.operating_system }}</li>
                        <li><strong>Підтримка 5G:</strong> 
                            {% if product.smartphone.supports_5g %}
                                Є
                            {% else %}
                                Немає
                            {% endif %}    
                        </li>
                        <li><strong>Додаткові функції:</strong> {{ product.smartphone.additional_features }}</li>
                        <li><strong>Захист від вологи:</strong> {{ product.smartphone.waterproof_rating }}</li>
                        <li><strong>Вага (г):</strong> {{ product.smartphone.weight }} г</li>
                        <li><strong>Бренд:</strong> {{ product.smartphone.brand }} </li>
                    </ul>
                {% endif %}
            
                {% if product.case %}
                    <h2>Характеристики чохла</h2>
                    <ul>
                        <li><strong>Матеріал:</strong> {{ product.case.material }}</li>
                        <li><strong>Колір:</strong> {{ product.case.color }}</li>
                        <li><strong>Сумісні моделі:</strong> {{ product.case.compatible_models }}</li>
                        <li><strong>Бренд:</strong> {{ product.case.brand }} </li>
                    </ul>
                {% endif %}
            
                {% if product.power_bank %}
                    <h2>Характеристи павербанка</h2>
                    <ul>
                        <li><strong>Ємність батареі (мА·год):</strong> {{ product.power_bank.capacity_mAh }}</li>
                        <li><strong>Потужність (Вт):</strong> {{ product.power_bank.output_power_w }}</li>
                        <li><strong>Кількість USB-портів:</strong> {{ product.power_bank.usb_ports }}</li>
                        <li><strong>Бренд:</strong> {{ product.power_bank.brand }} </li>
                    </ul>
                {% endif %}
            
                {% if product.screen_protector %}
                    <h2>Характеристи захисного скла</h2>
                    <ul>
                        <li><strong>Ємність батареі (мА·год):</strong> {{ product.power_bank.capacity_mAh }}</li>
                        <li><strong>Потужність (Вт):</strong> {{ product.power_bank.output_power_w }}</li>
                        <li><strong>Кількість USB-портів:</strong> {{ product.power_bank.usb_ports }}</li>
                        <li><strong>Бренд:</strong> {{ product.screen_protector.brand }} </li>
                    </ul>
                {% endif %}
                
                {% if product.charger %}
                    <h2>Характеристики зарядного пристрою</h2>
                    <ul>
                        <li><strong>Потужність (Вт):</strong> {{ product.charger.output_power_w }}</li>
                        <li><strong>Кількість портів:</strong> {{ product.charger.ports }}</li>
                        <li><strong>Швидка зарядка:</strong> {{ product.charger.fast_charge }}</li>
                        <li><strong>Бренд:</strong> {{ product.charger.brand }} </li>
                    </ul>    
                {% endif %}
            
                {% if product.cable_adapter %}
                    <h2>Характеристики кабелю</h2>
                    <ul>
                        <li><strong>Тип кабелю:</strong> {{ product.cable_adapter.cable_type }}</li>
                        <li><strong>Довжина кабелю (см):</strong> {{ product.cable_adapter.length_cm }} см</li>
                        <li><strong>Розʼєм 1:</strong> {{ product.cable_adapter.connector_1 }}</li>
                        <li><strong>Розʼєм 2:</strong> {{ product.cable_adapter.connector_2 }}</li>
                        <li><strong>Бренд:</strong> {{ product.cable_adapter.brand }} </li>
                    </ul>    
                {% endif %}
            </div>      
        
            <div class="reviews">
                <h3>Відгуки покупців</h3>
                {% if user.is_authenticated %}
                <button id="openReviewModal" class="btn btn-primary" data-product-id="{{ product.id }}" onclick="openReviewModal(this)">Додати відгук</button>
                {% else %}
                <p><a href="{% url 'signin' %}">Увійдіть</a>, щоб залишити відгук.</p>
                {% endif %}
                    <div class="review-list">
                        {% for review in reviews %}
                            <div class="review-panel">
                                <div class="review-header">
                                    <h4>{{ review.user.first_name }}</h4>
                                    <span class="review-rating">Оцінка: {{ review.rating }} / 5</span>
                                </div>
                                <div class="review-body">
                                    <p>{{ review.content }}</p>
                                </div>
                            <div class="review-footer">
                                <small>Дата: {{ review.created_at|date:"d.m.Y" }}</small>
                            </div>
                        </div>
                    {% empty %}
                        <p>Ще немає відгуків.</p>
                {% endfor %}
            </div>
    
    
    {% include 'cart.html' %}
    {% include 'review.html' %}
    
</body>
</html>