{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="/">Online Shop</a>
        <div class="menu">
            <a href="{% url 'signin' %}">Вхід</a>
        </div>
    </div>

    <div class="container">
        <h2>Реєстрація</h2>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Імʼя" required>
        <input type="text" name="last_name" placeholder="Прізвище" required>
        <input type="email" name="email" placeholder="Пошта" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="confirm_password" placeholder="Підтвердіть пароль" required>
        <button type="submit">Зареєструватися</button>
    </form>
    <p>Уже маєте акаунт? <a href="{% url 'signin' %}">Увійти</a></p>
    </div>
</body>
</html>
