{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вхід в акаунт</title>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/">Online Shop</a>
        <div class="menu">
            {% if user.is_authenticated %}
                <a href="{% url 'cabinet' %}">Кабінет</a>
            {% else %}
                <a href="{% url 'signin' %}">Вхід</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    
       <h2>Вхід</h2>
        <form method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Пошта" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Увійти</button>
        </form>
        <p>Ще не маєте акаунту? <a href="{% url 'signup' %}">Зареєструватися</a></p>
    </div>
</body>
</html>
